.Negocios_carossel1{
    color: #0043C0;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 9%;
    font-size: 140%;
    font-weight: 700;
    display: flex;
}
.linha01_carossel1{
    align-items: center;
    width: 40%;
    height: 0.2rem;
    background:#0043C0;
    color: #0043C0;
    margin-left: 29%;
    margin-right: 50%;
    margin-bottom: 2%;
    display: flex;
}
@media screen and (max-width:1240px) {

    .Negocios_carossel1{
        font-size: 100%;
        font-weight: 600;
    }
}
@media screen and (max-width:868px) {

    .Negocios_carossel1{
        font-size: 100%;
        margin-right: 20%;
        margin-left: 33%;
        font-weight: 600;
    }
    .linha01_carossel1{

        margin-left: 30%;
        margin-right: 50%;
        margin-bottom: 2%;
    }
}
@media screen and (max-width:694px) {

    .Negocios_carossel1{
        font-size: 80%;
        font-weight: 600;
        margin-left: 20%;
        margin-right: 20%;
    }
    .linha01_carossel1{
        width: 70%;
        margin-left: 14%;
        margin-right: 20%;
        margin-bottom: 2%;
    }
}

.carousel-inner_negocio1{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item_negocio1{
    display: flex;
   gap: 15%;
   justify-content: center;
   align-items: center;
}

.card-text_negocio{
    margin-top: 3%;
    display: flex;
    font-size: 80%;
    margin-bottom: -2%;
}
@media screen and (max-width:971px) {
    
.carousel-inner_negocio1{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item_negocio1{
    display: flex;
   gap: 3%;
   justify-content: center;
   align-items: center;
   margin-right: 0;
}
.card-img-top_negocio{
    height: 30%;
    display: flex;
    width: 70%;
    border-radius: 20px;
}
.card-text_negocio{
    margin-top: 3%;
    font-size: 70%;
    margin-bottom: -2%;
}
}
.carousel-control-next-icon{
    margin-left: -20%;
}

@media screen and (max-width:367px) {
    
    .carousel-inner_negocio{
        margin-top: 5%;
        display: flex;
        position: static;
        align-items: center;
        justify-content: center;
    }
    .Negocios_destaques{
       justify-content: center;
       justify-content: center;
       align-items: center;
       justify-items: center;
       gap: 6%;
    }
    .card-img-top_negocio{
        height: 30%;
        width: 80%;
        border-radius: 20px;
        position: relative;
    }
    .card-text_negocio{
        margin-top: 3%;
        font-size: 60%;
        margin-bottom: -2%;
    }
    .carousel-control-next-icon{
        width: 20%;
    }
     .carousel-control-prev-icon{
        width: 20%;
    }
    }
    .card-img-top_negocio{
        margin-top: 5%;
    }
    .Negocios_destaques1{
        margin-bottom:40%;
    }
    .InfiniteCarouselArrowNextIcon {
        transform: rotate(-45deg);
        border-color: #0043C0;
        box-shadow: #0043C0;
        outline: #0043C0;
    }
    .InfiniteCarouselArrowPrevIcon {
        border-color: #0043C0;
        box-shadow: #0043C0;
        outline: #0043C0;
    }
    .InfiniteCarouselPaging {
        display: flex;
    }
    @media screen and (max-width:555px) {
        .Negocios_destaques{
            margin-bottom: 60%;
        }
    }
    @media screen and (max-width:365px) {
        .Negocios_destaques{
            margin-bottom: 150%;
        }
    }
    @media screen and (max-width:243px) {
        .Negocios_destaques{
            margin-bottom: 170%;
        }
    }
    .carrossel{
        margin-bottom: 5%;
    }
    .card-img-top_negocio{
        height: 20rem;
    }